<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.min.js"></script>

    <title>Portfolio</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
<body>
    <div class="frame">
        <div class="main_frame"> 
        <div class="left_frame">
            <div class="left_one">
                <div class="left_photo">
                    <img src="images/profile (1).jpeg" width="156px" height="142px" alt=""> 
                </div>
                <div class="left_name"> <%=user.name%></div>
                <div class="left_one_profession"><%=user.profession%></div>
                <div class="left_icons">
                   <a class="link_href" href="">
                    <div class="icon">
                        <img src="icon/Facebook.jpeg" alt="" class="icon_1">
                    </div>
                   </a>
                   <a class="link_href" href="">
                    <div class="icon">
                        <img src="icon/instagram.jpeg" alt="" class="icon_1">
                    </div>
                   </a>
                   <a class="link_href" href="">
                    <div class="icon">
                        <img src="icon/Twitter.jpeg" alt="" class="icon_1">
                    </div>
                   </a>
                   <a class="link_href" href="">
                    <div class="icon">
                        <img src="icon/Linkeding.jpeg" alt="" class="icon_1">
                    </div>
                   </a>
                   <a class="link_href" href="">
                    <div class="icon">
                        <img src="icon/Youtube.jpeg" alt="" class="icon_1">
                    </div>
                   </a>
                   <a class="link_href" href="">
                    <div class="icon">
                        <img src="icon/Dribbble.jpeg" alt="" class="icon_1">
                    </div>
                   </a>
                </div>
            </div>
            <div class="marginer"></div>
            <div class="left_two">
                <div class="left_two_aboutme">
                    <div class="left_two_age">Age:</div>
                    <div class="left_two_agenumber"><%=user.age%></div>
                </div>
                <div class="left_two_aboutme">
                    <div class="left_two_residence">Residence:</div>
                    <div class="left_two_country"><%=user.residence%></div>
                </div>
                <div class="left_two_aboutme">
                    <div class="left_two_freelance">Freelance:</div>
                    <div class="left_two_available"><%=user.freelance%></div>
                </div>
                <div class="left_two_aboutme">
                    <div class="left_two_address">Address:</div>
                    <div class="left_two_address_2"><%=user.address%></div>
                </div>
            </div>
            <div class="marginer"></div>
            <div class="left_three">
                <div class="left_three_languages">Languages</div>
                <div class="left_three_languages_all">
                    <div class="left_three_languages_uz">Uzbek</div>
                    <div class="left_three_languages_procent_uz">100%</div>
                </div>
                <div class="left_line_border">
                    <div class="left_three_line_border1"></div>
                </div>
                <div class="left_three_languages_all">
                    <div class="left_three_languages_kr">Korean</div>
                    <div class="left_three_languages_procent_31">80%</div>
                </div>
                <div class="left_line_border">
                    <div class="left_three_line_border2"></div>
                </div>
                <div class="left_three_languages_all">
                    <div class="left_three_languages_eng">English</div>
                    <div class="left_three_languages_procent_31">60%</div>
                </div>
                <div class="left_line_border">
                    <div class="left_three_line_border3"></div>
                </div>
            </div>
            <div class="marginer"></div>
            <div class="left_four">
                <div class="left_four_skills">Skills</div>
                <div class="left_four_skills_all">
                    <div class="left_four_skills_html">Html</div>
                    <div class="left_four_skill_procent1">90%</div>
                </div>
                <div class="left_line_border1">
                    <div class="left_four_line_border1"></div>
                </div>
                <div class="left_four_skills_all">
                    <div class="left_four_skills_css">Css</div>
                    <div class="left_four_skill_procent1">85%</div>
                </div>
                <div class="left_line_border1">
                    <div class="left_four_line_border2"></div>
                </div>
                <div class="left_four_skills_all">
                    <div class="left_four_skills_js">Js</div>
                    <div class="left_four_skill_procent1">80%</div>
                </div>
                <div class="left_line_border1">
                    <div class="left_four_line_border3"></div>
                </div>
                <div class="left_four_skills_all">
                    <div class="left_four_skills_php">PHP</div>
                    <div class="left_four_skill_procent1">75%</div>
                </div>
                <div class="left_line_border1">
                    <div class="left_four_line_border4"></div>
                </div>
                <div class="left_four_skills_all">
                    <div class="left_four_skills_wordpress">WordPress</div>
                    <div class="left_four_skill_procent1">85%</div>
                </div>
                <div class="left_line_border1">
                    <div class="left_four_line_border5"></div>
                </div>
            </div>
            <div class="marginer"></div>
            <div class="left_five">
                <div class="left_five_skills">Extra Skills</div>
                <div class="left_five_boot_main">
                    <img src="images/Icons.png" alt="" />
                    <div class="left_five_boot">Bootstrap, Materialize</div>
                  </div>
                  <div class="left_five_boot_main">
                    <img src="images/Icons.png" alt="" />
                    <div class="left_five_style">Style, Sass, Less</div>
                  </div>
                  <div class="left_five_boot_main">
                    <img src="images/Icons.png" alt="" />
                    <div class="left_five_gulp">Gulp, Webpack, Grunt</div>
                  </div>
                  <div class="left_five_boot_main">
                    <img src="images/Icons.png" alt="" />
                    <div class="left_five_git">Git Knowledge</div>
                  </div>
            </div>
            <div class="marginer"></div>
           
        </div>
        <div class="midd_frame">
            <div class="midd_top">
                <div class="midd_top_type1">Doctor neurologists in OHSU Hospital</div>
                <div class="midd_top_type2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et,
                    volutpat feugiat placerat lobortis. Natoque rutrum semper sed
                    suspendisse nunc lectus.</div>
                    <button class="midd_top_button">Here me <img src="images/Vector.png" alt=""></button>
            <img class="topp_profile_photo" src="images/Your Image 1 (1).png" alt="">
               <img class="topp_icon1" src="icon/Ellipse 15.svg" alt="">
            <img src="icon/Ellipse 12.svg" class="topp_icon6" alt="">
            <img src="icon/Ellipse 16.svg" class="topp_icon2" alt="">
            <img src="icon/Rectangle 52.svg" class="topp_icon3" alt="">
            <img src="icon/Ellipse 13.svg" class="topp_icon4" alt="">
            <img src="icon/Polygon 1.svg" class="topp_icon5" alt="">
            <img src="icon/Rectangle 51.svg" class="topp_icon7" alt="">

        </div>
            <div class="midd_bott">
                <div class="midd_type1">My Services</div>
                <div class="midd_type2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                    amet sint. Velit officia consequat duis enim velit mollit. lorem
                    ipsum</div>
                <div class="midd_container_box">
                    <div class="midd_1_box">
                      <img src="btn_icon/code1.jpeg" class="bott_icons_1" alt="">  
                    <div class="bott_tupy_web1">Web Development</div>
                    <div class="bott_tupy_blog">Blog, E-commerce</div>
                    </div>
                    <div class="midd_1_box">
                        <img src="btn_icon/icon2.jpeg" class="bott_icons_1" alt="">  
                      <div class="bott_tupy_web2" >UI/UX Design</div>
                      <div class="bott_tupy_blog">Mobile App, Website Design</div>
                      </div>
                      <div class="midd_1_box">
                        <img src="btn_icon/icon4.jpeg" class="bott_icons_1" alt="">  
                      <div class="bott_tupy_web2">Sound Design</div>
                      <div class="bott_tupy_blog">Voice Over, Beat Making</div>
                      </div>
                      <div class="midd_1_box">
                        <img src="btn_icon/icon3.jpeg" class="bott_icons_1" alt="">  
                      <div class="bott_tupy_web1">Game Design</div>
                      <div class="bott_tupy_blog">Character Design, Props & Objects</div>
                      </div>
                      <div class="midd_1_box">
                        <img src="btn_icon/icon5.jpeg" class="bott_icons_1" alt="">  
                      <div class="bott_tupy_web1">Photography</div>
                      <div class="bott_tupy_blog">Blog, Portrait, Product Photography</div>
                      </div>
                      <div class="midd_2_box">
                      <div class="bott_tupy_web1">Advertising</div>
                      <div class="bott_tupy_blog1">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Vitae Nulla Diam In Ac Dictum A Uma Viverra Morbi.</div>
                      <!-- <img src="btn_icon/order.jpeg" class="bott_icons_1" alt="">   -->
                      </div>
                </div>
            </div>
        </div>
        <div class="right_frame">
            <div class="right_frame_box">
                <img src="btn_icon/vector.jpeg" class="right_frame_icon_1" alt="" />
              </div>
            <div class="right_frame_bott">
                <div class="border_right">
                <img src="btn_icon/home.jpeg" class="right_frame_icon_2_2" alt="">
                </div>
                <div>
                    <img src="btn_icon/Service.jpeg" class="right_icons" alt="">
                </div>
                <div><img src="btn_icon/Cv.jpeg" class="right_icons"></div>
                <div><img src="btn_icon/Portfolio.jpeg" class="right_icons" alt=""></div>
                <div><img src="btn_icon/Blog.jpeg" class="right_icons" alt=""></div>
                <div><img src="btn_icon/Contact.jpeg" class="right_icons" alt=""></div>
            </div>
        </div>
        </div>
    </div>  
</body>
</html>